.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    padding: 200px;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
/* min-height: 100%; */
}
.modal-wrapper-content{
    margin-right: 30px;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    padding: 25px;
    position: relative;
    border-radius: 10px;
}
.btn-close{
    position: absolute;
    right: 2px;
    top: 2px;
    border: none;
    background-color: transparent;
}
        
    
